*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}

header{
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 10px;
    height: 40px;
    text-align: right;
    width: 100%;
    justify-content: center;
    background : linear-gradient(to right, orange, darkorange);
    
}
header span{
    margin:6px;
    padding: 6px;
}
.container{
    height: auto;
    width: 600px;
    justify-content: center;
    /* align-content: center; */
    border-radius: 4px;
    border: solid;
}
ul{
    list-style: disc;     
    display: flex;
    
    flex-direction: column;
    /* align-items: center;  */
    align-items: center;
justify-content: center;
}
ul li{
    
    border-radius: 2px;
background: linear-gradient(to right, orange, darkorange);
margin: 2px;
padding: 2px;
width: 400px;
}

button{
    background-color: white;
    color: black;
    border-radius: 3px;
    border-width: 1px;
    height: 20px;
    width: 60px;
    margin: 2px;
    padding: 2px;
}
